@layer base {
  @font-face {
    font-family: 'Geograph';
    src: url('./geograph/geographweblight.ttf') format('truetype');
    font-weight: 300; /* optional, if this is the "light" version */
    font-style: normal;
    font-display: swap;
  }
   @font-face {
    font-family: 'Geograph-italic';
    src: url('./geograph/geographweblightitalic.ttf') format('truetype');
    font-weight: 300; /* optional, if this is the "light" version */
    font-style: normal;
    font-display: swap;
  }
}